li.dropdown{
    float: right !important;
}

@media only screen and (max-width: 992px){
    .d-flex a{
       margin-left: auto !important;
       font-size: small;
       margin-top: 0;
    }

    li.nav-item{
        margin-top: 20px;
        text-align: right;
        font-size: small;
    }

}